<!doctype html>
<html>
<!--
author:lvlu
date:2018-07
desc:this demo is about blog. PLEASE NOTE:If you have trouble running it ,try any of the other demos or connect with auther.
A ny individuals and organizations and not for commercial use, professiona website for customized web site.
-->
<head>
  <meta charset="utf-8">
  <title>首页博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/bitbug_favicon.ico" type="image/x-icon" />
  <link href="static/css/base.css" rel="stylesheet">
  <link href="static/css/index.css" rel="stylesheet">
  <link href="static/css/m.css" rel="stylesheet">
  <script src="static/js/jquery.min.js" type="text/javascript"></script>
  <script src="static/js/jquery.easyfader.min.js"></script>
  <script src="static/js/scrollReveal.js"></script>
  <script src="static/js/common.js"></script>
</head>

<body>
  <script>
    if (token = window.localStorage.getItem('dnblog_token')) {
     username = window.localStorage.getItem('dnblog_user');
     console.log('token have')
     header_html = Header( username)
 }else {
   console.log('token None')
   header_html = Header( username='')
 }
 $('body').append(header_html);
 loginOut()
   </script>
</body>

</html>
